@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --breakpoint-xs: 18rem;
  --color-fd-primary: hsl(90, 89%, 21%);
}

.dark {
  --color-fd-foreground: hsl(0, 0%, 93%);
  --color-fd-secondary: #0a0a0a;
  --color-fd-primary: hsl(90, 100%, 45%);
}
